doctype html
html(lang="en")
    head
        title= pageTitle
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    body
        .container
            .row
                .col-md-6.col-md-offset-3
                    .panel.panel-primary
                        .panel-heading
                            h4 Enter transaction details
                        .panel-body
                            .form-group
                                label Transaction Id
                                input.form-control(type='text')
                            form(action='/transactions', method='POST')
                                .form-group
                                    label Description
                                    input.form-control(type='text', name='description')
                                .form-group
                                    label Amount
                                    input.form-control(type='text', name='amount')
                                .form-group
                                    label Date
                                    input.form-control(type='text', name='date')
                                button(type='submit', class='btn btn-lg btn-success') Submit
        script(src='/js/jquery.min.js')
        script(src='/js/bootstrap.min.js')