doctype html
html(lang="en")
    head
        title= pageTitle
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/css/styles.css')
    body
        .row
            .col-md-6.col-md-offset-3
                .panel.panel-primary
                    .panel-heading
                        h4 Verify user
                    .panel-body
                        form
                            .form-group
                                label Email
                                input#loginEmail.form-control(type='text', name='loginEmail', value='')
                            .form-group
                                label Password
                                input#loginPassword.form-control(type='password', name='loginPassword', value='')
                            button(type='submit', class='btn btn-lg btn-success', id='login') Submit
        script(src='/js/jquery.min.js')
        script(src='/js/login.js')
