doctype html
html(lang="en")
    head
        title= pageTitle
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/css/styles.css')
        link(rel='stylesheet', href='/css/test-page.css')
        link(rel='stylesheet', href='/css/jquery-ui.min.css')
    body
        .main-container
            h1 Testing Page
            .inner-container
                p.
                    Test Sequelize
                button#test.btn.btn-lg.btn-success Test
        script(src='/js/jquery.min.js')
        script(src='/js/jquery-ui.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/test.js')